/*FALTA
 *POSICIONAR BIEN LAS IMAGENES PARA QUE SEA RESPONSIVE , LAS TUVE QUE HACE CON DISPLAY BLOCK , YA QUE CON DISPLAY FLEX Y JUSTIFLY CONTENT : SPACE ARROUND O SPACE BETWEEN NO FUNCIONABA
*/
@import url('https://fonts.googleapis.com/css2? family= Signika & display=swap');

*{
    margin-left: 3px;
    margin-right: 3px;
}
@font-face {
    font-family:Honey;
    src: url(IMAGENES/Honey.ttf);
}

header {

    font-family: Honey; /*ESTILO DE FUENTE*/
    font-size: 80px; /*TAMAÑO DE LETRA*/
    font-weight:lighter; /*QUE TAN GRUESOS O DELGADOS DEBEN MOSTRARSE LOS CARACTERES*/
    font-style: normal; /*ESTILO DE FUENTE*/
    text-align: center; /*ALINEADO DE TEXTO*/
    margin-top: -2cm;

}

a:link {
    color: rgb(0, 0, 0); /*Color de link nomal*/
    text-decoration:none; /*Decoracion*/
    background-color: none; /*Color de fondo*/
    }
    a:visited{
    color:rgb(0, 0, 0) /*Color de link visitado*/
    }
    a:hover{
    color:rgb(255, 115, 0); /*Color del ratón sobre el enlace*/
    
    }
    a:active{
    color: midnightblue; /*Color cuando clickeas*/
    }

body{
   background-image: url(IMAGENES/FINAL\ FANTASY.svg);
   background-color: rgba(155, 142, 142, 0.452);
   background-attachment: fixed;
   font-family: Honey;
   font-size: 30px;
  

}
.SUBTITULOS {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline double;
    text-align: left;
    margin-left: 0.5CM;
    
}

#PARRAFO{
    text-align:left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800px;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}
/*W3SCHOOL ME RECOMENDABA ALGIN-ITEMS PARA ALINEAR EN VERTICAL*/ /*CON EL JUSTIFY CONTENT UNICAMENTE SE ME MUEVE EL TEXTO*/ /*30.93 TOTAL DE LA PAG*/

.IMAGENESACTORES{
    border: 1px none;
    margin-bottom: 1cm;
    text-align: center;
    height: auto;
}
#CONJUNTOIMG {
    display:flex;
    justify-content: space-around;
}

#RESEÑAS{
    border: 10px solid; /*ESPESOR DEL BORDE , SOLIDEZ , COLOR*/ 
    border-radius: 20px; /*BORDE REDONDEADO*/
    border-width: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 1cm 1cm; /*MARGEN DE ARRIBA - DERECHA IZQUIERDA - ABAJO*/
    background-color: rgba(250, 235, 215, 0.897);
    border-style: outset;
    border-color: rgb(250, 216, 153) whitesmoke whitesmoke rgb(250, 216, 153);
    padding: 15px; /*RELLENO*/
}
#RESEÑAS h3 {
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#RESEÑAS img {
  
    margin-left: 28cm;
}
#RESEÑAS p {
    font-size:x-large;
}
#COLOR{
    color: rgb(28, 28, 133);
}
footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3cm ;
    margin-left: 1CM;
    margin-right: 1cm;
}
footer img {
    width: 20%;
}
footer div {
    text-align:justify

}

/* @media (min-width: 1500px){        /*CUANDO PASE LOS 1500PX , EL PARRAFO SE VA A CENTRAR*/
   /* #PARRAFO {text-align: center;} */


@media (max-width: 768px) {
   
    #CONJUNTOIMG{
        flex-wrap: wrap;
    }
 
}

